<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <script src="http://fb.me/react-0.13.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>

    <style>
      body {
        background: #C4F2E5;
      }
      h1 {
        font-family: helvetica, sans-serif;

      }

    </style>

  </head>
  <body>
    <div id="example"></div>
    <script type="text/jsx">

        // var converter = new Showdown.converter();
        // var stuff = converter.makeHtml('#Cmon markdown!');
        // document.getElementById('example').innerHTML=stuff

      // var converter = new Showdown.converter();
      
      // var MarkdownEditor = React.createClass({
      //   getInitialState: function() {
      //     return {value: 'Type some *markdown* here!'};
      //   },
      //   handleChange: function() {
      //     this.setState({value: React.findDOMNode(this.refs.textarea).value});
      //   },
      //   render: function() {
      //     return (
      //       <div className="MarkdownEditor">
      //         <h3>Input</h3>
      //         <textarea
      //           onChange={this.handleChange}
      //           ref="textarea"
      //           defaultValue={this.state.value} />
      //         <h3>Output</h3>
      //         <div
      //           className="content"
      //           dangerouslySetInnerHTML={{
      //             __html: converter.makeHtml(this.state.value)
      //           }}
      //         />
      //       </div>
      //     );
      //   }
      // });


      var HelloWorld = React.createClass({
            render: function() {
            return (
            
            <div>
                  <h1>Welcome back</h1> 
                  <br />
                  UserName:  <input type="text" placeholder="Your Username here" />
                  <br />
                  password:  <input type="text" placeholder="Your password here" />
                  <br /><br />
                  It is {this.props.date.toTimeString()}
              
            </div>
          );
        }
      });

      setInterval(function() {
      React.render(
          <HelloWorld date={new Date()} />,
          document.getElementById('example')
        );
      }, 500);

      // React.render(<MarkdownEditor />, mountNode);

    </script>
  </body>
</html>