<!doctype html>
<html>
<head>
	<title>Study Preferences</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="http://fb.me/react-0.13.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>
		body {
			padding: 0px;
			margin: 0;
			background: url("library2.jpg") no-repeat center center fixed;
			background-size: cover;
		    -o-background-size: cover;
		    -moz-background-size: cover;
		    -webkit-background-size: cover;
		}
		#progress-contain {
			background: rgba(255,255,255,0.2);
			padding: 10px;
			width: 220px;
			height: 400px;
			float: left;
			margin-left: 15px;
			color: white;
			font-family: Montserrat, sans-serif;
			font-size: 16px;
			/*border: 2px solid white;*/
		}
		h1 {
			text-align: center;
			display: block;
			width: 600px;
			margin: 0 auto;
			margin-top: 20px;
			color: white;
			font-family: Montserrat, sans-serif;
		}
		#card-contain {
			width: 500px;
			height: 300px;
			margin: 0 auto;
			margin-top: 35px;
			z-index: -10;
		}
		.card {
			width: 340px;
			height: 260px;
			background: #fff;
			color: indigo;
			border-radius: 30px;
			margin-left: 80px;
			margin-top: 15px;
			padding-right: 40px;
			padding-left: 40px;
			position: absolute;
		}
		#card2 { z-index: -1; margin-left: 60px; background: #E6E6E6; opacity: 0.9; }
		#card3 { z-index: -2; margin-left: 40px; background: #D1D1D1; opacity: 0.8; }
		#card4 { z-index: -3; margin-left: 20px; background: #C4C4C4; opacity: 0.7; }
		#card5 { z-index: -4; margin-left: 0px; background: #B3B3B3; opacity: 0.6; }
		.card-text {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			font-size: 22px;
			font-family: Montserrat, sans-serif;
		}
		#answer-contain {
			width: 800px;
			margin: 0 auto;
			margin-top: 35px;
		}
		.answer {
			width: 49%;
			display: inline-block;
		}
		.answer-text {
			display: inline-block;
			text-align: center;
			margin-right: 2%;
			margin-left: 2%;
			font-size: 18px;
			color: white;
			font-family: Montserrat, sans-serif;
		}
		.btn {
			width: 60px;
			height: 60px;
			border-radius: 30px;
			margin-left: 40%;
			margin-top: 15px;
			text-align: center;
			border: 2px solid white;
			transition: 0.12s linear;
		}
		.btn:hover {
			background: white;
			border: none;
		}
		#done {
			width: 350px;
            height: 50px;
            margin: 0 auto;
            border-radius: 50px;
            text-align: center;
            padding-top: 6px;
            border: 2px solid white;
            color: white;
            background: none;
            font-size: 22px;
            font-family: Montserrat, sans-serif;
            transition: 0.12s linear;
            display: none;
		}
		#done:hover {
            background: white;
            border: 0px;
            color: indigo;
            padding-top: 7px;
        }
        a:hover {
        	text-decoration: none;
        }

	</style>
</head>
<body>

<div id="progress-contain">
</div>
	<h1>Tell us how you prefer to study.</h1>

	<div id="fill"></div>
<a href="/profile" id="done"> See your new profile </a>
</form>
	<div id="answer-contain">
		<div class="answer">
			<div id="answer1" class="answer-text">
			It's important for people to be on time and stay for the full study period.<br>
			</div><div id="yesbtn1" class="btn"></div>
		</div>
		<div class="answer">
			<div id="answer2" class="answer-text">
			I know people are busy, they can come and go however works best for them.<br>
			</div><div id="nobtn1" class="btn"></div>
		</div>
	</div>

	<script type="text/jsx">

      var HelloWorld = React.createClass({
            render: function() {
            return (
            
            <div id="card-contain">
        		<div id="card1" className="card">
					<div className="card-text">How rigid is your schedule when it comes to punctuality and time slots?</div>
				</div>
				<div id="card2" className="card">
					<div className="card-text">You learn best when thinking about things:</div>
				</div>
				<div id="card3" className="card">
					<div className="card-text">Do you like taking semi-frequent breaks when studying?</div>
				</div>
				<div id="card4" className="card">
					<div className="card-text">At the end of the day, which of these two goals takes top priority?</div>
				</div>
				<div id="card5" className="card">
					<div className="card-text">My most productive study environment is:</div>
				</div>

			</div>

          );
        }
      });

      setInterval(function() {
      React.render(
          <HelloWorld />,
          document.getElementById('fill')
        );
      }, 500);


    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
 
   <script>

    var x = 1;
	var quiz = [];

	$("#yesbtn1").on("click", function() {
		
    	if (x==1) {
			quiz.push("yes");
		    $("#card1").animate({ opacity: "0", marginLeft: "-=200px" }, 400);
		    $("#card2").animate({ marginLeft: "+=20px", opacity: "1"}, 400);
		    $("#card2").css("background", "white");
		    $("#answer1").text("Theoretically, referring to the broad concepts and textbook often.");
		    $("#answer2").text("Practically, and it helps if I can see the real-world application at play.");
		    $("#progress-contain").append("I like sticking to a fairly rigid schedule.<br><br>");    
		}
		if (x==2) {
		quiz.push("yes");
			$("#card2").animate({ opacity: "0", marginLeft: "-=200px" }, 400);
			$("#card3").animate({ marginLeft: "+=40px", opacity: "1"}, 400);
			$("#card3").css("background", "white");
		    $("#answer1").text("Nope, let's power through to the end and not waste too much time.");
		    $("#answer2").text("Yes, otherwise we will all get burnt out and starve to death.");
		    $("#progress-contain").append("Studying theoretically works best for me.<br><br>");
		}
		if (x==3) {
		quiz.push("yes");
			$("#card3").animate({ opacity: "0", marginLeft: "-=200px" }, 400);
			$("#card4").animate({ marginLeft: "+=60px", opacity: "1"}, 400);
			$("#card4").css("background", "white");
		    $("#answer1").text("I want to understand the material well, even if it takes a while.");
		    $("#answer2").text("I want to pass the class with a good grade, even if I don't understand it all.");
		    $("#progress-contain").append("I'm not one for frequent study breaks.<br><br>");
		}
		if (x==4) {
		quiz.push("yes");
			$("#card4").animate({ opacity: "0", marginLeft: "-=200px" }, 400);
			$("#card5").animate({ marginLeft: "+=80px", opacity: "1"}, 400);
			$("#card5").css("background", "white");
		    $("#answer1").text("Pretty quiet - I want to be able to focus without anything going on around me.");
		    $("#answer2").text("Moderately social, like a coffee shop. Dead silence is a little much...");
		    $("#progress-contain").append("Understanding the material well matters most.<br><br>");
		}
		if (x==5) {
		quiz.push("yes");
			$("#card5").animate({ opacity: "0", marginLeft: "-=200px" }, 400);
		    $("#answer1").text("");
		    $("#answer2").text("");
		    $("#nobtn1").animate({ opacity: "0"}, 400);
		    $("#yesbtn1").animate({ opacity: "0"}, 400);
		    setTimeout( function(){
		      $("#done").css("display", "block");
		    },600);
		    $("#progress-contain").append("I need a quiet environment to study.<br><br>");
		}

	    x += 1;

	});

	$("#nobtn1").on("click", function() {

    	if (x==1) {
		quiz.push("no");
		    $("#card1").animate({ opacity: "0", marginLeft: "+=200px" }, 400);
		    $("#card2").animate({ marginLeft: "+=20px", opacity: "1"}, 400);
		    $("#card2").css("background", "white");
		    $("#answer1").text("Theoretically, referring to the broad concepts and textbook often.");
		    $("#answer2").text("Practically, and it helps if I can see the real-world application at play.");
		    $("#progress-contain").append("I can generally work around other peoples' schedules.<br><br>");    
		}
		if (x==2) {
		quiz.push("no")
			$("#card2").animate({ opacity: "0", marginLeft: "+=200px" }, 400);
			$("#card3").animate({ marginLeft: "+=40px", opacity: "1"}, 400);
			$("#card3").css("background", "white");
		    $("#answer1").text("Nope, let's power through to the end and not waste too much time.");
		    $("#answer2").text("Yes, otherwise we will all get burnt out and starve to death.");
		    $("#progress-contain").append("Studying things practically works best for me.<br><br>");
		}
		if (x==3) {
		quiz.push("no");
			$("#card3").animate({ opacity: "0", marginLeft: "+=200px" }, 400);
			$("#card4").animate({ marginLeft: "+=60px", opacity: "1"}, 400);
			$("#card4").css("background", "white");
		    $("#answer1").text("I want to understand the material well, even if it takes a while.");
		    $("#answer2").text("I want to pass the class with a good grade, even if I don't understand it all.");
		    $("#progress-contain").append("I'm a fan of taking breaks and not pushing ourselves too hard.<br><br>");
		}
		if (x==4) {
		quiz.push("no");
			$("#card4").animate({ opacity: "0", marginLeft: "+=200px" }, 400);
			$("#card5").animate({ marginLeft: "+=80px", opacity: "1"}, 400);
			$("#card5").css("background", "white");
		    $("#answer1").text("Pretty quiet - I want to be able to focus without anything going on around me.");
		    $("#answer2").text("Moderately social, like a coffee shop. Dead silence is a little much...");
		    $("#progress-contain").append("A good final course grade matters most.<br><br>");
		}
		if (x==5) {
		quiz.push("no");
			$("#card5").animate({ opacity: "0", marginLeft: "+=200px" }, 400);
		    $("#answer1").text("");
		    $("#answer2").text("");
		    $("#nobtn1").animate({ opacity: "0"}, 400);
		    $("#yesbtn1").animate({ opacity: "0"}, 400);
		    setTimeout( function(){
		      $("#done").css("display", "block");
		    },600);
		    $("#progress-contain").append("I enjoy studying in semi-social environments.<br><br>");
		}

	    x += 1;
});
      $(document).ready(function(){
$("#done").click(function(e){
          $.post("/profile",{quiz: quiz}, function(data){
			console.log("data is " +data)
            if(data==='done')
              {
                alert("login success");
              }
          });
	});
		});


    </script>

</body>
</html>
<!-- on(), bind() -->
